---
import Header from "@components/Header.astro";
import NavbarBaseLegal from "@components/NavbarBaseLegal.astro";
import NavbarReglamentos from "@components/NavbarReglamentos.astro";
import { dataBaseLegalTituloII } from "@data/page/base_legal/2";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Header
    title={dataBaseLegalTituloII.titulo}
    subtitle={dataBaseLegalTituloII.subtitulo}
  />
  <NavbarBaseLegal />
  <div
    class="p-[20px] sm:p-[40px] lg:p-[40px] flex flex-col gap-[20px] lg:flex-row w-full lg:pb-[100px]"
  >
    <section class="p-4">
      <h1 class="text-2xl font-bold mb-4">
        {dataBaseLegalTituloII.numeroTitulo}
      </h1>
      {
        dataBaseLegalTituloII.capitulos.map((capitulo, capituloIndex) => (
          <div class="mb-6" >
            <h2 class="text-lg font-semibold mb-2">{capitulo.nombre}</h2>
            {capitulo.articulos.map((articulo, articuloIndex) => (
              <div
                class="mb-4"
                
              >
                <h3 class="font-medium">{articulo.nombre}</h3>
                {articulo.contenido.map((contenido, contenidoIndex) => (
                  <div
                    class="mb-4"
                    
                  >
                    <p class="mt-2">{contenido.descripcion}</p>
                    {Array.isArray(contenido.detalles) &&
  contenido.detalles.map((detalle, detalleIndex) => (
    <div class="mt-4">
      {typeof detalle === 'string' ? (
        // Si detalle es un string, simplemente lo mostramos como un párrafo o lista
        <p class="mt-2">{detalle}</p>
      ) : (
        // Si detalle es un objeto, mostramos sus propiedades
        <>
          {detalle.subtipo && <h4 class="font-medium mt-2">{detalle.subtipo}</h4>}
          {detalle.descripcion && <p class="mt-2">{detalle.descripcion}</p>}
          {detalle.subdetalles && (
            <ul class="list-inside ml-6 mt-2">
              {detalle.subdetalles.map((subdetalle, subdetalleIndex) => (
                <li class="mb-2" >{subdetalle}</li>
              ))}
            </ul>
          )}
        </>
      )}
    </div>
  ))}

                  </div>
                ))}
              </div>
            ))}
          </div>
        ))
      }
    </section>

    <section class="hidden lg:block">
      <NavbarReglamentos />
    </section>
  </div>
</Layout>
