---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import { dataProcedimientoRequisitos } from "@data/page/orientacion/procedimientos-y-requisitos";
import CardContacto from "@components/CardContacto.astro";
---

<Layout title="Procedimientos y Requisitos">
    <Header title="Orientación" subtitle="Procedimientos y Requisitos" />

<div  class="p-[20px] sm:p-[40px] lg:p-[40px] flex flex-col gap-[20px] lg:flex-row w-full lg:pb-[100px]">
  <section class="p-4">
    
    <h1 class="text-2xl font-bold mb-4">{dataProcedimientoRequisitos.title}</h1>
  
    <div class="mb-6">
      <h2 class="text-lg font-semibold">{dataProcedimientoRequisitos.procedimiento.parrafo}</h2>
      <ul class=" list-inside mt-2 space-y-2 flex flex-col ">
        {dataProcedimientoRequisitos.procedimiento.lista.map(item => (
          <li class="mb-4">
            <p class="font-regular text-base" set:html={item.name}></p>
            {item.lista && (
              <ul class=" list-inside ml-6 mt-2 text-sm">
                {item.lista.map(subitem => (
                  <li class="mb-2" set:html={subitem}></li>
                ))}
              </ul>
            )}
          </li>
        ))}
      </ul>
    </div>
  
    <div class="mb-6">
      <h2 class="text-lg sm:text-xl lg:text-2xl font-semibold">REQUISITOS PARA EL RECOJO DE PLACAS DE RODAJE
      </h2>
      <div>
        <h3 class="text-lg sm:text-2xl lg:text-3xl font-semibold mt-4">Persona Natural</h3>
        {Object.keys(dataProcedimientoRequisitos.requisitos.personaNatural).map(key => (
          <div class="mb-4">
            <h4 class="font-medium sm:text-lg lg:text-xl">{dataProcedimientoRequisitos.requisitos.personaNatural[key].parrafo}</h4>
            <ul class=" list-inside mt-2 ml-6">
              {dataProcedimientoRequisitos.requisitos.personaNatural[key].lista.map(req => (
                <li class="mb-2">{req}</li>
              ))}
            </ul>
          </div>
        ))}
      </div>
  
      <div class="mt-6">
        <h3 class="text-lg sm:text-2xl lg:text-3xl font-semibold">Persona Jurídica</h3>
        {Object.keys(dataProcedimientoRequisitos.requisitos.personaJuridica).map(key => (
          <div class="mb-4">
            <h4 class="font-medium">{dataProcedimientoRequisitos.requisitos.personaJuridica[key].parrafo}</h4>
            <ul class="list-inside mt-2 ml-6">
              {dataProcedimientoRequisitos.requisitos.personaJuridica[key].lista.map(req => (
                <li class="mb-2">{req}</li>
              ))}
            </ul>
          </div>
        ))}
      </div>
    </div>
  </section>
  <div>
    <CardContacto />
  </div>
</div>

</Layout>