---
import CardContacto from "@components/CardContacto.astro";
import Header from "@components/Header.astro";
import { dataTipoPlacasPage } from "@data/page/orientacion/tipos-de-placas";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tipos de placas">
  <Header
    title={dataTipoPlacasPage.title}
    subtitle={dataTipoPlacasPage.subtitle}
  />
  <div
    class="p-[20px] sm:p-[40px] lg:p-[40px] flex flex-col gap-[20px] lg:flex-row w-full lg:pb-[100px]"
  >
    <div class="flex flex-col gap-[40px] max-w-[700px]">
      <div class="flex flex-col gap-[20px]">
        <h2 class="text-lg font-bold text-center">
          {dataTipoPlacasPage.placasMenores.h2}
        </h2>
        <div class="flex flex-col gap-[5px] items-center justify-center">
          <div class="text-base">
            {dataTipoPlacasPage.placasMenores.categoria}
          </div>
          <div class="text-sm italic">
            {dataTipoPlacasPage.placasMenores.subtitle}
          </div>
        </div>
        <div class="grid grid-cols-2 gap-[30px] sm:gap-[50px]">
          {
            dataTipoPlacasPage.placasMenores.subcategorias.map((item) => (
              <div class="flex flex-col gap-[10px]">
                <div class="text-center">
                  {item?.title && <h3>{item.title}</h3>}
                  {item?.name && <h4 class="italic text-xs">{item.name}</h4>}
                </div>
                {item?.img && (
                  <div class="m-auto">
                    <img src={item.img} alt="" />
                  </div>
                )}
                {item?.parrafo && (
                  <div class="flex justify-center items-center w-full h-full">
                    <p class="text-sm ">{item.parrafo}</p>
                  </div>
                )}
              </div>
            ))
          }
        </div>
      </div>
      <div class="flex flex-col gap-[20px]">
        <h2 class="text-lg font-bold text-center">
          {dataTipoPlacasPage.placasLivianasPesadas.h2}
        </h2>
        <div>
          <div class="flex flex-col gap-[5px] items-center justify-center">
            <div class="text-base">
              {dataTipoPlacasPage.placasLivianasPesadas.categorias.M.name}
            </div>
            <div class="text-sm italic">
              {dataTipoPlacasPage.placasLivianasPesadas.categorias.M.subtitle}
            </div>
          </div>
          <div class="grid grid-cols-2 gap-[30px] sm:gap-[50px]">
            {
              dataTipoPlacasPage.placasLivianasPesadas.categorias.M.subcategorias.map(
                (item) => (
                  <div class="flex  flex-col gap-[20px]">
                    <div class="text-center">
                      {item?.title && <h3>{item.title}</h3>}
                      {item?.name && (
                        <h4 class="italic text-xs">{item.name}</h4>
                      )}
                    </div>
                    {item?.img && (
                      <div class="m-auto">
                        <img
                          src={item.img}
                          class="w-full max-w-[200px]"
                          alt=""
                        />
                      </div>
                    )}
                    {item?.parrafo && (
                      <div class="flex justify-center items-center w-full h-full">
                        <p class="text-sm ">{item.parrafo}</p>
                      </div>
                    )}
                  </div>
                )
              )
            }
          </div>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[5px] items-center justify-center">
            <div class="text-base">
              {dataTipoPlacasPage.placasLivianasPesadas.categorias.N.name}
            </div>
            <div class="text-sm italic">
              {dataTipoPlacasPage.placasLivianasPesadas.categorias.N.subtitle}
            </div>
          </div>
          <div class="grid grid-cols-2 gap-[30px] sm:gap-[50px]">
            {
              dataTipoPlacasPage.placasLivianasPesadas.categorias.N.subcategorias.map(
                (item) => (
                  <div class="flex flex-col gap-[20px]">
                    <div class="text-center">
                      {item?.title && <h3>{item.title}</h3>}
                      {item?.name && (
                        <h4 class="italic text-xs">{item.name}</h4>
                      )}
                    </div>
                    {item?.img && (
                      <div class="m-auto">
                        <img src={item.img} alt="" />
                      </div>
                    )}
                    {item?.parrafo && (
                      <div class="flex justify-center items-center w-full h-full">
                        <p class="text-sm ">{item.parrafo}</p>
                      </div>
                    )}
                  </div>
                )
              )
            }
          </div>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[5px] items-center justify-center">
            <div class="text-base">
              {dataTipoPlacasPage.placasLivianasPesadas.categorias.O.name}
            </div>
            <div class="text-sm italic">
              {dataTipoPlacasPage.placasLivianasPesadas.categorias.O.subtitle}
            </div>
          </div>
          <div class="grid grid-cols-2 gap-[30px] sm:gap-[50px]">
            {
              dataTipoPlacasPage.placasLivianasPesadas.categorias.O.subcategorias.map(
                (item) => (
                  <div class="flex flex-col gap-[20px]">
                    <div class="text-center">
                      {item?.title && <h3>{item.title}</h3>}
                      {item?.name && (
                        <h4 class="italic text-xs">{item.name}</h4>
                      )}
                    </div>
                    {item?.img && (
                      <div class="m-auto">
                        <img
                          src={item.img}
                          class="w-full  max-w-[200px]"
                          alt=""
                        />
                      </div>
                    )}
                    {item?.parrafo && (
                      <div class="flex justify-center items-center w-full h-full">
                        <p class="text-sm ">{item.parrafo}</p>
                      </div>
                    )}
                  </div>
                )
              )
            }
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-[20px]">
        <h2 class="text-lg font-bold text-center">
          {dataTipoPlacasPage.placasEspeciales.h2}
        </h2>
        <div class="flex flex-col gap-[10px]">
          {
            dataTipoPlacasPage.placasEspeciales.content.map((item) => (
              <div class="flex gap-[20px]">
                <div class=" ">
                  <div class="w-[160px] sm:w-[200px] flex flex-col gap-[5px]">
                    <h3 class="whitespace-nowrap">{item.name}</h3>
                    <img class="w-full" src={item.img} alt="" />
                  </div>
                </div>
                <div class="flex justify-center items-center">
                  <p>{item.description}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="flex flex-col gap-[10px]">
          <h3 class="text-lg font-bold text-center">{dataTipoPlacasPage.placasEspeciales.h2}</h3>
          <div class="grid grid-cols-2 gap-[20px]">
            {
              dataTipoPlacasPage.placasEspeciales.gracia.map((item) => (
                <div class="flex flex-col gap-[5px]">
                  <h4 class="text-center">{item.name}</h4>
                  <img src={item.img} class="max-w-[200px] w-full m-auto" alt="" />
                </div>
              ))
            }

          </div>
        </div>
      </div>

    </div>
    <div>
      <CardContacto />
    </div>
  </div>
</Layout>
